<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/Flask/static/css/profile-styles.css">
</head>
<body>
  <header>
    <h1>About Us</h1>
  </header>
  
  <section class="team">
  	<div class="member">
      <img src="" alt="Team Lead">
      <h2>SUHAAS SABARI GIRISH.C.S</h2>
      <h4>TEAM LEAD</h4>
      <h4>DEPARTMENT: CSE</h4>	
      <h4>YOP: 2024</h4>
    </div>
    <div class="member">
      <img src="/Flask/templates/TEAM/sibi.jpg" alt="Member 1">
      <h2>SIBISEZHIYAN.G</h2>
      <h4>TEAM MEMBER</h4>
      <h4>DEPARTMENT: CSE</h4>
      <h4>YOP: 2024</h4>
    </div>
    <div class="member">
      <img src="/Flask/templates/TEAM/vel.jpg" alt="Member 2">
      <h2>VEL MURUGAN.M</h2>
      <h4>TEAM MEMBER</h4>
      <h4>DEPARTMENT: CSE</h4>
      <h4>YOP: 2024</h4>
    </div>
    <div class="member">
      <img src="member4.jpg" alt="Member 3">
      <h2>VISHAL.A.C</h2>
      <h4>TEAM MEMBER</h4>
      <h4>DEPARTMENT: CSE</h4>
      <h4>YOP: 2024</h4>
    </div>
  </section>
</body>
</html>
